.font1 {
    font-family: 'Kalam', cursive;
}

.font2{
    font-family: 'Acme', sans-serif;
}

.font3{
    font-family: 'Luckiest Guy', cursive;
}
.font-content{
    font-family: 'ABeeZee', sans-serif;
}
.font-headings3{
    font-family: 'Carter One', cursive;
}